// Place all the styles related to the videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the links controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.box {
    display: flex;
    justify-content: space-around;

.list-videos
{
    flex: 1;
}


.list-videos {
	display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: #FFFFFF;
    margin: 10px;

    .video {
   	box-shadow: 0px 1px 1px 0px rgba(0,0,102,0.1);
   	width: 75%;
    background-color: #D6E6F2;
    border-radius: 8px;
    padding: 12px;
    margin: 12px;
    	.video-box {
		    float: left;
		    padding-right: 13px;
    	}

    	.buttons{
    		.buttons-left{
    			float: left;
    		}
    		.buttons-right {
    			float: right;
    		}
    	}

    }
	
}
.list-left {
	display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 4px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    .element{
        padding: 6px 12px;
        span {
            padding-right: 8px;
        }
    }
}

.list-right {
	display: flex;
    border-radius: 4px;
	background-color: #FFFFFF;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
}